@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
$p-font-size: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 2rem;
$h3-font-size: 2rem;
$a-font-size: 1.1rem;
$i-font-size: 1.1rem;
$margin-left-sec: 1rem;
$margin-right-sec: 1rem;

p {
  padding-left: 1rem;
  font-size: $p-font-size;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

a {
  font-size: $a-font-size;
}

i {
  font-size: $i-font-size;
}
