@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column:first-child {
  padding-left: 0.5rem;
  padding-right: 0;
}

.column:nth-child(odd) {
  padding-left: 0;
  padding-right: 0.5rem;
}

.column:nth-child(even) {
  padding-right: 0.5rem;
  padding-left: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #407a52;
  width: 100%;
}

.navbar-section li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-right: 1rem;
}

.navbar-section li:hover > .navbar-subnav {
  display: block;
}

.navbar-section li:hover > .navbar-second-sub {
  display: block;
}

.navbar-section i {
  font-size: 2rem;
  margin: 0.5rem;
  color: green;
}

.navbar-section a {
  margin: 0.5rem;
  text-align: center;
  color: #407a52;
  font-family: initial;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-section .logo {
  height: 80%;
  width: 4rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.navbar-section .logo-font {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #407a52;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-section .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

.navbar-section .navbar-subnav {
  display: none;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-section .navbar-second-sub {
  display: none;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  left: 100%;
  padding: 0;
  margin: 0;
  top: 0;
}

.navbar-section .icons a,
.navbar-section .icons div {
  font-size: 1.1rem;
  cursor: pointer;
  color: #407a52;
}

.navbar-section #search-btn {
  cursor: pointer;
}

@media (max-width: 1240px) {
  html {
    font-size: 75%;
    scroll-padding-top: 7rem;
  }
  .navbar-section {
    display: inline-block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    left: 0;
  }
  .navbar-section .logo-font {
    font-size: 0;
  }
  .navbar-section .column:last-child {
    margin-top: 5rem;
    padding-left: 0;
  }
  .navbar-section .navbar-nav {
    display: inline-block;
    padding-left: 1rem;
  }
  .navbar-section .navbar-nav li {
    display: block;
    margin-top: 1rem;
  }
  .navbar-section .navbar-nav li:first-child {
    margin-top: 0;
  }
  .navbar-section .navbar-nav li:hover a {
    font-size: 1.5rem;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  .navbar-section .navbar-nav li:hover > .navbar-subnav,
  .navbar-section .navbar-nav li:hover > .navbar-second-sub {
    display: unset;
    visibility: visible;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition-delay: 0s, 0s, 0.5s;
            transition-delay: 0s, 0s, 0.5s;
  }
  .navbar-section .navbar-nav li:hover > .navbar-subnav li:hover a,
  .navbar-section .navbar-nav li:hover > .navbar-second-sub li:hover a {
    font-size: 1.5rem;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  .navbar-section .navbar-nav li > .navbar-second-sub a {
    font-size: 0;
  }
  .navbar-section .navbar-nav i {
    font-size: 2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar-section .navbar-nav a {
    font-size: 0;
  }
  .navbar-section .navbar-nav .navbar-subnav,
  .navbar-section .navbar-nav .navbar-second-sub {
    display: unset;
    visibility: hidden;
    opacity: 0;
  }
  .navbar-section #search-btn {
    cursor: pointer;
    padding-left: 1rem;
  }
}

p {
  padding-left: 1rem;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}

a {
  font-size: 1.1rem;
}

i {
  font-size: 1.1rem;
}

#note {
  background: none;
  border: 0.2rem solid white;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 6rem;
  z-index: 1000;
}

#note a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.01vw;
  cursor: pointer;
}

#note i {
  color: #fff;
  font-size: 2rem;
  margin: 0.2rem;
  cursor: pointer;
}

#note .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

#note .row .left-column {
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 0.2rem;
  padding-right: 0;
}

#note .row .right-column {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 100%;
  padding-left: 0.3rem;
  padding-right: 0;
  width: 0;
  opacity: 0;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#note.open .right-column {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  opacity: 1;
}

#note::after {
  content: "";
  display: block;
  height: 100%;
  margin-top: -3.25rem;
  border-top: 0.12rem solid #fff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#note:hover {
  background: #407a52;
  color: white;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.search-form.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.search-form #close-search {
  position: absolute;
  top: 1rem;
  right: 4rem;
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
}

.search-form #close-search:hover {
  color: #407a52;
}

.search-form #close-search i {
  font-size: 3rem;
}

.search-form form {
  width: 40rem;
  margin: 0 2rem;
  border-bottom: 0.2rem solid #fff;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.search-form form input {
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
  border: none;
}

.search-form form input::-webkit-input-placeholder {
  color: black;
}

.search-form form input:-ms-input-placeholder {
  color: black;
}

.search-form form input::-ms-input-placeholder {
  color: black;
}

.search-form form input::placeholder {
  color: black;
}

.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.search-form form label:hover {
  color: #407a52;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .box.third {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .box .content {
  width: 40rem;
}

.home .box .content span {
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
}

.home .box .content h3 {
  font-size: 6rem;
  color: #407a52;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 0;
}

@media (max-width: 991px) {
  html {
    font-size: 65%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box.third {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid white;
  color: white;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  text-transform: capitalize;
  text-decoration: none;
}

.btn:hover {
  background: #407a52;
  color: white;
}

.btn.booking {
  border: 0.2rem solid #407a52;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: #407a52;
}

@media (max-width: 768px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/images/footer-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: white;
}

.box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: white;
  padding: 1rem 0;
  text-decoration: none;
  text-transform: capitalize;
}

.box-container .box a i {
  color: #407a52;
  padding-right: 0.5rem;
  font-size: 1.7rem;
}

.box-container .box a:hover {
  color: #407a52;
}

.box-container .box a:hover i {
  padding-right: 2rem;
}

.credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: white;
}

.credit span {
  color: #407a52;
}

.clients {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.clients .slide {
  text-align: center;
}

.clients .slide img {
  height: 10rem;
}

.btn-with-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  padding-right: 3rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.833rem;
  padding-bottom: 2.3rem;
  text-transform: none;
  color: #407a52;
}

.btn-with-arrow::after {
  content: "";
  background: url(../assets/images/button.jpg) no-repeat;
  color: black;
  margin-left: -9rem;
  height: 2.5rem;
  width: 2.5rem;
  background-size: contain;
  background-position: left center;
}

.btn-with-arrow:hover::after {
  background-color: #407a52;
}

.communication {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.communication .cta-container {
  width: 40rem;
}

.communication .cta-container .cta-highlight-heading-first {
  font-size: 5rem;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.communication .cta-container .cta-highlight-heading-second {
  font-size: 5rem;
  color: #407a52;
  margin-top: -4.6rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.communication .cta-container p {
  line-height: 2;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.communication .info {
  margin-top: 6rem;
  margin-left: 4rem;
}

.communication .info h2 {
  margin-bottom: 1.5rem;
  color: black;
  font-weight: 400;
}

.communication .info a {
  text-decoration: none;
  color: black;
}

.communication .info .divider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 0.2rem solid black;
  margin: 0.1rem;
  margin-left: -4rem;
}

.destinations {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destinations .box-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.destinations .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.destinations .box-container .box .content {
  padding: 2rem;
}

.destinations .box-container .box a {
  color: #407a52;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
}

.destinations .box-container .box a:hover {
  color: white;
}

.destinations .box-container .box h3 {
  padding: 0;
  color: #407a52;
  font-size: 3rem;
}

.destinations .box-container .box img {
  height: 10rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destinations .box-container .box p {
  padding-left: 1rem 0;
  font-size: 1.7rem;
}

.stars i {
  font-size: 1.7rem;
  color: yellow;
}

.price {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.price #first-price {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.price #first-price::after {
  content: "\a";
  white-space: pre;
}

.title {
  text-align: center;
  padding: 2.5rem 0;
}

.title span {
  font-size: 3.5rem;
  background-color: #407a52;
  color: white;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  display: inline-block;
}

.title span.space {
  background: none;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .title span {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */